<div id="header" class="header  hasPrimaryHeader  hasSecondaryHeader">
  <div id="primaryHeader" class="primaryHeader">
    <div id="imageLogoBlock">
      {{{blocks.image}}}
    </div>
    <div class="blockItemSeparator blockItemSeparatorIndex0">
      <span class="blockItemSeparatorInner"></span>
      <div id="searchBlock">{{{blocks.search}}}</div>
    </div>
  </div>
  <div id="secondaryHeader" class="secondaryHeader">
    {{{blocks.title}}}
    <div class="blockItemSeparator blockItemSeparatorIndex0">
      <span class="blockItemSeparatorInner"></span>
    </div>
    {{{blocks.language}}}
  </div>
</div>

<hr id="headerHr"/>