<header class="kth-header {{{theme}}}">
  <div class="kth-header__container">
    {{> headerLogotype }}
    <ul class="kth-header__tools">
      <li>{{{languageLink lang}}}</li>
    </ul>
  </div>
</header>