{
  "parser": "babel-eslint",
  "env": {
    "node": true,
    "browser": true
  },
  "extends": ["airbnb", "prettier"],
  "plugins": ["prettier"],
  "rules": {
    "import/extensions": "off",
    "import/newline-after-import": "off",
    "import/order": "off",
    "jsx-a11y/href-no-hash": "off",
    "jsx-a11y/img-has-alt": "off",
    "no-plusplus": "off",
    "no-restricted-syntax": "off",
    "no-underscore-dangle": "off",
    "prefer-template": "off",
    "prettier/prettier": ["error"],
    "radix": "off",
    "react/destructuring-assignment": ["error", "always", { "ignoreClassFields": true }],
    "react/jsx-filename-extension": "off",
    "react/no-access-state-in-setstate": "off",
    "react/prop-types": "off",
    "react/react-in-jsx-scope": "off",
    "react/state-in-constructor": "off",
    "react/require-default-props": "off",
    "semi": ["error", "never"],
    "sort-imports": [
      "error",
      {
        "ignoreCase": true,
        "ignoreDeclarationSort": true,
        "ignoreMemberSort": true,
        "memberSyntaxSortOrder": ["all", "single", "multiple", "none"]
      }
    ],
    "space-before-function-paren": [
      "error",
      { "anonymous": "always", "named": "never", "asyncArrow": "always" }
    ],
    "strict": "off",
    "global-require": "off",
    "no-await-in-loop": "off",
    "no-param-reassign": "off",
    "consistent-return": "off",
    "array-callback-return": "off",
    "react/no-multi-comp": "off"
  }
}
