// Less code goes here...!

//@import "kth-style/public/sass/variables/sizes";
//@import "kth-style/public/sass/variables/colors";

// Bootstrap source
/*@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/kth-style/public/sass/bootstrap/variables";
@import "node_modules/bootstrap/scss/mixins";*/

.kursinfo-main-page {    
    padding-bottom: 3em;
    padding-top: 2em;
    // & > * {
    //     margin-top: 1.5em;
    // }
}
.courseTitle {
    h1, p {
        margin-bottom: 0;
    }
}
.Header--Button {
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    margin-bottom: .5em;
}


.button_group {
    display: flex;
    justify-content: flex-end;
    margin-left: 2em;
    .btn {
        border: 1px solid;
        margin: 2em .3em;

        &.btn-primary {
            border-color: #007fae;
        }
        &.btn-success {
            border-color: #62922e;
        }
    }
}

.TextEditor--SellingInfo {
    margin: 2em 0;
    & > * {
        margin-top: 1.5em;
    }
}
.Description--TextBlock {
    margin: 2em 0;

    .alert-success, .alert-warning {
        margin-bottom: 1.5em;
    }
    // & > * {
    //     margin-top: 1.5em;
    // }
}

.AdminPage--ShowDescription, .AdminPage--ShowMenu { //TODO: remove .AdminPage--ShowDescription,
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    .card {
        max-width: 20em;
        margin: 1em .5em;
    }
}