// Less code goes here...!

//@import "kth-style/public/sass/variables/sizes";
//@import "kth-style/public/sass/variables/colors";
#kth-kursinfo {
    width: 100%;
}
.kursinfo-main-page {    
    padding-bottom: 3em;
    padding-top: 2em;
    width: 100%;
}
.courseTitle {
    margin: 0;
    margin-top: 20px;
    h1 {
        margin-bottom: 0;
    }
    .alert {
        margin-left: 0;
        //width: 50em;
    }
}
span.intro {
    margin-right: 7em;
    span.right_intro {
        margin-left: 3em;
        max-width: 40em;
        float:right;
        text-align: left;
    }
}

.kip-menu {
    max-width: 30em;
    margin-left: 1em;
    .link-to::after{
      content: '';
      height: 1.5em;
      width: 1.5em;
      display: inline-block;
      margin: -.6em 0 .3em .3em;
      vertical-align: middle;
      background: url(https://app.kth.se/style/kth-style/img/kth-style/icons/pill-back.svg) no-repeat;
      transform: rotate(180deg);
    }
}

.courseIntroText {
    padding-top: 10px;
    padding-bottom: 10px;
    .sellingText {
        padding-right: 12px
    }
    img {
        float: left;
        margin: 8px 20px 10px 0;
        width:100%;
        max-width: 400px;
        
        &.localImage {
            content: url(../img/studyPic.jpg)
        }
    }
} 

.Header--Link {
    display: flex;
    justify-content: flex-start;
    margin-top: 1em;
    margin-bottom: .5em;
}

.Editors--Area {
    display: flex;
    justify-content: space-between;
    margin-top: 1em;
    margin-bottom: .5em;
    .badge {
        margin-left: .5em;
    } 
    span.left {
        width: 100%;
        margin-right: .5em; 
    }
    span.right {
        width: 100%;
        margin-left: .5em;
    }
    .text-center {
        text-align: center;
    }
    .courseIntroTextCollapse {   
        a.collapse-header  {
            text-decoration: none;
        }
        h4.mb-0 {
            margin-top: 0;
        }
    }   
}

.alert {
    max-width: 100em;
    margin: 15px;
}

.button_group {
    display: flex;
    justify-content: flex-end;
    margin-left: 2em;
    .btn {
        border: 1px solid;
        margin: 2em .3em;

        &.btn-primary {
            border-color: #007fae;
        }
        &.btn-success {
            border-color: #62922e;
        }
    }
}

.kip-menu {
    max-width: 30em;
    margin-left: 1em;
}

.TextEditor--SellingInfo {
    margin: 2em 0;
    & > * {
        margin-top: 1.5em;
    }
}

.AdminPage--ShowDescription {
    display: flex;
    justify-content: space-between;
    .card {
        max-width: 21em;
        min-width: 18em;
        margin-top: 1em;
        margin-right: 3em;
    }
}