// Less code goes here...!

//@import "kth-style/public/sass/variables/sizes";
//@import "kth-style/public/sass/variables/colors";

// Bootstrap source
@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/kth-style/public/sass/bootstrap/variables";
@import "node_modules/bootstrap/scss/mixins";


.collapseContainer{
    margin-top: -27px;

    .card-body{
        padding: 20px 40px;

        p{
            font-size: 16px;
        }
    }
}

.collapseBtn{
    margin-top: 3px;
    width: 100%;
    color: #fff;
    background: #24a0d8;
    text-align: left;
    font-size: 2rem;
    margin-bottom: 2px;

    &:hover, &:focus, &:active{
        color: #fff;
        outline: none;
        outline-offset: none;
    }
}

.preArticleParagraphs, h2.secondTitle {
    border-bottom: 1px solid #808080;
    color: #666666;
    font-family: 'garamond pro',garamond,'times new roman',times,serif;
    font-size: 2.5rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
}
.title{
    padding: 0px 0px 10px 0px;
    margin: 0px;
    font-size: 34px;
    font-size: 3.1rem;
    color: #000000;
    font-weight: normal;
    line-height: '110%';
    font-family: 'Georgia Regular', 'Georgia', 'garamond pro', garamond, 'times new roman', times, serif, 'droid sans';
    border-bottom: 1px dotted #b9bbbd;
}

#course-title{
    border-bottom: 0px;
    margin: 0px;
}

.paddingX15{
    padding-left: 15px;
  }

.tab-content .tab-pane {
      border: 0px;
      border-top: 1px dotted #b9bbbd;
  }
  
  .key-info{
    border: 2px solid #24a0d8;
    min-width: 100%;
    background: #fff;
    border-radius: 5px;
    margin-top:20px;

    p {
        margin: 0 0 0.1em 0;
        font-size: 17px;
    }

    h4 {
        font-size: 18px;
        color: #111;
        font-weight: 700;
        margin: 1rem 0 .5rem 0;
    }

    div{
        padding-left:5px;
        padding-right:5px;
    }

  }
  
p.small-text{
    font-size: 12px;
} 
 #imageContainer {
    height: 100%;
    vertical-align: middle;
    align-content: center;
    margin: 10px;
    margin-right: 50px;
}

#courseIntroText{
    padding-top:30px;
     
    p{
        font-size: 18px;
    }
}

select{
    margin-top: 40px;
    border: none;
    border-bottom: #ddd 1px solid;
    font-size: 16px;
    font-weight: 700;
}

/****temp****/
.card-body{
    padding: 0 40px;
    border: 1px solid #ddd;
    border-top: 0px;
    border-radius:5px; 
}
.btn-primery{
    background: #24a0d8;
    color:#fff;
    font-size: 18px;
}

#roundDropDownLabel{
    font-size: 1.7rem
}
