// Less code goes here...!

//@import "kth-style/public/sass/variables/sizes";
//@import "kth-style/public/sass/variables/colors";

// Bootstrap source
/*@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/kth-style/public/sass/bootstrap/variables";
@import "node_modules/bootstrap/scss/mixins";*/

.kursinfo-main-page {    
    padding-bottom: 3em;
}

.Header--Button {
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
    // .btn {
    //     border: 1px solid;
    //     margin: 2em .3em;
    // }
}


.button_group {
    display: flex;
    justify-content: flex-end;
    margin-left: 2em;
    .btn {
        border: 1px solid;
        margin: 2em .3em;

        &.btn-primary {
            border-color: #007fae;
        }
        &.btn-success {
            border-color: #62922e;
        }
    }
}

.TextEditor--SellingInfo {
    margin: 2em 0;
}
.Description--TextBlock {
    margin: 2em 0;
}

.AdminPage--ShowDescription {
    padding-left: 15px;
    .card {
        max-width: 20em;
        margin: 1em .5em;
    }
}