<!DOCTYPE html>
<html>
  <head>
    <meta name="robots" content="noindex">
    <meta charset="utf-8">
    <link rel="shortcut icon" href="https://www.kth.se/polopoly_fs/1.871948.1550155901!/favicon.ico">
    <title>System page</title>

    {{#if debug}}
      {{prefixScript '/static/js/lib/firebug-lite/build/firebug-lite.js' 'head-scripts'}}
    {{/if}}

    {{{render 'head-scripts'}}}
  </head>
  <body>
    {{{body}}}
  </body>
</html>
